Greeting.html
Calculator.html

        Dom and Date.html
        JsonObject.html
        Question practice/
        Scripts/
        Style/
        WhatsApp Image 2024-06-23 at 19.37.30_d83ad2a6.jpg
        bat.jpeg
        dailyJobschatgpt.html
        download.jpeg
        imgs/
        index.html
        indexcopilot.html
        javascriptObjects.html
        javascriptPractice.html
        practiceindex1.html
        ram.jpg
        toDo.html